<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nights %><br>
    <%= f.number_field :nights %>
  </div>
  <div class="field">
    <%= f.label :checkin_date %><br>
    <%= f.date_select :checkin_date %>
  </div>
  <div class="field">
    <%= f.label :checkout_date %><br>
    <%= f.date_select :checkout_date %>
  </div>
  <div class="field">
    <%= f.label :hotel_id %><br>
    <%= f.collection_select :hotel_id, @hotels, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :guest_id %><br>
    <%= f.collection_select :guest_id, @guests, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
