<p id="notice"><%= notice %></p>

<p>
  <strong>Nights:</strong>
  <%= @reservation.nights %>
</p>

<p>
  <strong>Checkin date:</strong>
  <%= @reservation.checkin_date %>
</p>

<p>
  <strong>Checkout date:</strong>
  <%= @reservation.checkout_date %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @reservation.hotel.name %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @reservation.guest.name %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
